.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a3d;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
}

.company-logo {
  height: 40px; /* Adjust the height according to your logo */
}

.header-right {
  display: flex;
  align-items: center;
 
}

.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
  margin-left: 20px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
}

.nav-item:hover .dropdown {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown li {
  list-style: none;
}

.dropdown li a {
  display: block;    color: white;

  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
}

.dropdown li a:hover {
  background-color: #f0f0f0;
}
